<div class="catalog">
  {% for item in items %}
  <div class="catalog-item">
    <div class="card">
      <img
        src="/catalog/item/image/{{item.idf}}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h4 class="card-title">{{item.Name_Clothes}}</h4>
        <h7 class="card-text">{{item.Comment}}</h7>
        <div>
          <span class="item-badge">{{item.Name_Season}}</span>
          <span class="item-badge">{{item.Gender}}</span>
        </div>
      </div>
      <button
        class="btn btn-sm btn-outline-secondary cart-del btn-sm"
        type="button"
        id="del-item"
        data-id="{{item.idf}}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-x"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>
    </div>
  </div>
  {% endfor %}
</div>
