<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Мой гардероб</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <style>
      #filter {
        margin: 20px 0;
      }
      body {
        background-image: url('/static/background.jpg');
        background-size: cover;
        background-attachment: fixed;
        padding-top: 60px;
      }
      .btn-group {
        background-color: whitesmoke;
      }
      .catalog-item {
        margin-bottom: 30px;
      }
      .item-badge {
        background-color: rgb(216, 216, 216);
        padding: 2px 5px;
        border-radius: 3px;
        display: inline-block;
        margin-top: 5px;
        margin-right: 5px;
        text-transform: capitalize;
      }
      .cart-del {
        position: absolute;
        top: 3px;
        right: 3px;
        visibility: hidden;
      }
      .card {
        width: 100%;
        position: relative;
      }
      .card:hover .cart-del {
        visibility: visible;
      }
      .card img {
        height: 300px;
      }
      .catalog {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 80px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Каталог одежды</a>

        <button
          id="show-add-dialog"
          class="btn btn-sm btn-outline-secondary"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#addItemModal"
        >
          Добавить
        </button>
      </div>
    </nav>

    <div class="container">
      <div id="filter">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          {% for season in seasons %}

          <label class="btn btn-outline-primary active">
            <input
              type="checkbox"
              id="season_filter_{{season.ID}}"
              data-id="{{season.ID}}"
              class="filter_season"
            />
            {{season.Name_Season}}
          </label>

          {% endfor %}
        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-primary active">
            <input
              type="checkbox"
              id="gender_filter_male"
              class="filter_gender"
              data-id="мужской"
            />
            Мужская
          </label>

          <label class="btn btn-outline-primary active">
            <input
              type="checkbox"
              id="gender_filter_female"
              data-id="женская"
              class="filter_gender"
            />
            Женская
          </label>
        </div>
      </div>

      <div id="catalog"></div>
    </div>

    <div class="modal" tabindex="-1" id="addItemModal">
      <form action="/add" method="POST" enctype="multipart/form-data">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Добавление одежды в каталог</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="item-name">Название</label>
                <input
                  type="text"
                  class="form-control"
                  id="item-name"
                  name="item-name"
                />
              </div>
              <div class="form-group">
                <label for="item-name">Описание</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="item-comment"
                  name="item-comment"
                  rows="2"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="item-season">Сезон</label>
                <select
                  class="form-control"
                  id="item-season"
                  name="item-season"
                >
                  <option value="1">Зима</option>
                  <option value="2">Весна</option>
                  <option value="3">Лето</option>
                  <option value="4">Осень</option>
                </select>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="item-gender"
                  id="item-gender-male"
                  value="мужской"
                />
                <label class="form-check-label" for="item-gender-male"
                  >Мужская</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="item-gender"
                  id="item-gender-female"
                  value="женская"
                />
                <label class="form-check-label" for="item-gender-female"
                  >Женская</label
                >
              </div>
              <div class="form-group">
                <label for="item-season">Тип</label>
                <select
                  class="form-control"
                  id="item-clothes"
                  name="item-clothes"
                >
                  <option>Куртка</option>
                  <option>Брюки</option>
                  <option>Джинсы</option>
                  <option>Футболка</option>
                  <option>Свитер</option>
                  <option>Пиджак</option>
                </select>
              </div>
              <div class="form-group">
                <label for="item-image">Изображение</label>
                <input
                  type="file"
                  class="form-control-file"
                  id="item-image"
                  name="item-image"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-dismiss="modal"
              >
                Закрыть
              </button>
              <button id="add-item" type="submit" class="btn btn-primary">
                Добавить
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>

    <script>
      function refresh() {
        var filter = {
          seasons: $('.filter_season:checkbox:checked')
            .map(function () {
              return $(this).data('id');
            })
            .get(),
          genders: $('.filter_gender:checkbox:checked')
            .map(function () {
              return $(this).data('id');
            })
            .get(),
        };
        $('#catalog').load('/catalog?' + $.param(filter));
      }

      function addItem() {
        var modal = new bootstrap.Modal(
          document.getElementById('addItemModal'),
          {
            keyboard: false,
          }
        );
        modal.hide();
      }

      function showAddDialog() {
        var modal = new bootstrap.Modal(
          document.getElementById('addItemModal'),
          {
            keyboard: false,
          }
        );
        modal.show();
      }

      function delItem() {
        var id = $(this).data('id');
        $.post('/del', { id: id }).done(refresh);
      }

      $(document).ready(function () {
        $(document).on('click', '.filter_season', refresh);
        $(document).on('click', '.filter_gender', refresh);
        $(document).on('click', '.cart-del', delItem);
        $('#add-item').click(addItem);
        $('#show-add-dialog').click(showAddDialog);

        refresh();
      });
    </script>
  </body>
</html>
